.foot{
	background-color: #0f056b;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 150px;
	padding-right: 150px;
}
.hey div a{
	margin-top: 10px;
}
body{
	background-color: silver;
}
.barre{
	height:650px;
	width: 50px;
	background-color: #fff;
}
.bar {
	margin-top: 10px;
	margin-bottom: 10px;
}
.logo{
	background-color: green;
	width: 50px;
	height: 40px;
}
#sp{
	text-align: center;
}
.entr{
	height:370px;
}
.f2{
	position: relative;
}
.div1{
	display: inline;
}
.div2{
	display: inline-block;
}
.discuss{
	margin-top: 40px;
	margin-bottom: 20px;
	height: auto;
	background-color: #fff;
	border-radius: 5px;
}
.chat{
	/*border-bottom: 1px solid #ddd;*/
	margin: 0;
	padding: 18px 16px 10px;
}
.user{
	overflow: hidden;
	clear: both;
}
.chimg{
	float: left;
	width: 11%;
}
.chh{
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}
.case1{
	background-color: green;
	height: 5px;
	width: 5px;
}
.d1{
	background-color: grey;
	border-radius: 5px;
	height:30px;
	width: auto;
	padding:5px;
}
.d2{
	background-color: white;
	border-radius: 5px;
	height:30px;
	width: auto;
	padding:5px;
}
.rep{
	background-color: white;
	width: 890px;
	border-radius: 10px;
}
.form{
	height: 300px;
	
	background-color:#FFD700;
	border-radius: 10px;
	box-shadow: 10px ;
}
form label{
	color: #fff;
}